@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

/* Footer */
footer {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  border-top: 1px solid black;
}

.author {
  font-family: 'Berkshire Swash', cursive;
}

.udemy {
  font-size: 1rem;
}

/* clips */
.clips {
  text-align: center;
  font-size: 2rem;
}

/* 01 */
.clip-box {
  margin: 0;
  padding: 0;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', Arial, sans-serif;
      cursor: default;
}

.loader {
  width: 300px;
  height: 60px;
  border: 7px solid #0a3d62;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  position: relative;
  overflow: hidden;
}

.span-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
}

.top-half {
  color: #ee5253;
  animation: split 4s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.bottom-half {
  color: #0a3d62;
  animation: split 4s linear infinite reverse;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

@keyframes split {
  0% { transform: translateX(100%); }
  40% { transform: translateX(0); }
  60% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* 02 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.clip-box-02 {
  background-color: #2f2f2f;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Arial, sans-serif;
      cursor: default;
}

.wave {
  position: relative;
  width: 500px;
  height: 500px;
}

.h2-02 {
  position: absolute;
  text-align: center;
  /* line-height: 500px; */
  font-size: 170px;
  text-transform: uppercase;
}

.h2-02:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.h2-02:nth-child(2) {
  color: #03a9f4;
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
  }
}

/* 03 */

.clip-box-03 {
  margin: 0;
  padding: 0;
  background-color: #555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-03 {
  position: relative;
  width: 800px;
  height: 500px;
  background-color: #222;
}

.clip-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.clip-03--1 {
  background: url(./img/1.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 17% 0, 49% 100%, 0% 100%);
}

.clip-03--2 {
  background: url(./img/2.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(13% 0, 81% 0, 59% 100%, 36% 100%);
}

.clip-03--3 {
  background: url(./img/3.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(79% 0, 100% 0, 100% 100%, 59% 100%);
}

.container-03:hover .clip-03 {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container-03 .clip-03:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* 04 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.clip-box-04 {
  margin: 0;
  padding: 0;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', Arial, sans-serif;
  text-align: initial;
  cursor: default;
}

.card-04 {
  width: 500px;
  height: 250px;
  background-color: #85d9dd;
  padding: 20px 80px 20px 20px;
  border-radius: 10px;
  transition: all 0.5s;
  clip-path: circle(7% at 93% 20%);
}

.h1-04 {
  margin-bottom: 20px;
}

.p-04 {
  font-size: 18px;
}

.card-04:hover {
  clip-path: circle(70%);
}

/* 05 */
.clip-box-05 {
  margin: 0;
  padding: 0;
  background-color: #c8d6e5;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: default;
}

.main-05 {
  position: relative;
  width: 800px;
}

.h1-05{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 220px;
  text-transform: uppercase;
}

.h1-05:nth-child(2) {
  color: white;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
  background-color: #c8d6e5;
}

.h1-05:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.h1-05:nth-child(1):hover ~ h1 {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}

/* Clip 06 */
.clip-box-06 {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card-06 {
  position: relative;
  width: 335px;
  height: 500px;
}

.img-06 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  clip-path: circle(70.7% at 50% 50%);
}

.img-06 {
  width: 100%;
}

.card-06:hover .img-06 {
  clip-path: circle(18.2% at 50% 38%);
}

.content-06 {
  position: absolute;
  left: 0;
  bottom: 5px;
  text-align: center;
  font-size: 18px;
}

.h2-06 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.p-06 {
  margin-bottom: 25px;
  font-size: 16px;
  text-transform: capitalize;
}

.a-06 {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
}

.h2-06,
.p-06,
.a-06 {
  opacity: 0;
  transition: 0.3s;
  transform: translateY(20px);
}

.card-06:hover .h2-06,
.card-06:hover .p-06,
.card-06:hover .a-06{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

/* 07 */
.clip-box-07 {
  margin: 0;
  padding: 0;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
}

.card-07 {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: black
}

.content-07 {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.h2-07 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.p-07 {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.a-07 {
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  text-transform: capitalize;
}

.a-07:hover {
  color: black;
  background-color: white;
}

.img-07 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.img-07:hover {
  clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0% 100%);

}