@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

/* Footer */
footer {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  border-top: 1px solid black;
}

.author {
  font-family: 'Berkshire Swash', cursive;
}

.udemy {
  font-size: 1rem;
}

/* clips */
.clips {
  text-align: center;
  font-size: 2rem;
}

/* 01 */
.clip-box {
  margin: 0;
  padding: 0;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', Arial, sans-serif;
}

.loader {
  width: 300px;
  height: 60px;
  border: 7px solid #0a3d62;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  position: relative;
  overflow: hidden;
}

.span-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
}

.top-half {
  color: #ee5253;
  animation: split 4s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.bottom-half {
  color: #0a3d62;
  animation: split 4s linear infinite reverse;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

@keyframes split {
  0% { transform: translateX(100%); }
  40% { transform: translateX(0); }
  60% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* 02 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.clip-box-02 {
  background-color: #2f2f2f;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Arial, sans-serif;
}

.wave {
  position: relative;
  width: 500px;
  height: 500px;
}

h2 {
  position: absolute;
  text-align: center;
  line-height: 500px;
  font-size: 170px;
  text-transform: uppercase;
}

h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

h2:nth-child(2) {
  color: #03a9f4;
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
  }
}

/* 03 */

.clip-box-03 {
  margin: 0;
  padding: 0;
  background-color: #555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-03 {
  position: relative;
  width: 800px;
  height: 500px;
  background-color: #222;
}

.clip-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.clip-03--1 {
  background: url(./img/1.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 17% 0, 49% 100%, 0% 100%);
}

.clip-03--2 {
  background: url(./img/2.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(13% 0, 81% 0, 59% 100%, 36% 100%);
}

.clip-03--3 {
  background: url(./img/3.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(79% 0, 100% 0, 100% 100%, 59% 100%);
}

.container-03:hover .clip-03 {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container-03 .clip-03:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* 04 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.clip-box-04 {
  margin: 0;
  padding: 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', Arial, sans-serif;
  text-align: initial;
}

.card-04 {
  width: 500px;
  height: 250px;
  background-color: #85d9dd;
  padding: 20px 80px 20px 20px;
  border-radius: 10px;
  transition: all 0.5s;
  clip-path: circle(7% at 93% 20%);
}

.h1-04 {
  margin-bottom: 20px;
}

.p-04 {
  font-size: 18px;
}

.card-04:hover {
  clip-path: circle(70%);
}